<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalyst Engine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='assets/logo.png') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
        <div class="col-md-3 mb-2 mb-md-0"><a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="d-block" src="static/heading.png" alt="" width="250" height="60">
        </a></div>
        <ul class="nav col-12 col-md-auto mb-2 mb-md-0 text-start">
            <li class="nav-item"><a class="nav-link active text" href="{{ url_for('pricing_plans') }}" style="{% if request.endpoint == 'pricing_plans' %}color: slateblue;{% endif %}">Pricing</a></li>
            <li class="nav-item"><a class="nav-link active text" href="{{ url_for('contact_page') }}" aria-disabled="true" style="{% if request.endpoint == 'contact_page' %}color: slateblue;{% endif %}">Contact Us</a></li>
        </ul>

</header>
</html>