<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="pricing-card card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 heading2"><h4 class="my-0 fw-normal">Starter</h4></div>
                        <div class="card-body"><h1 class="card-title pricing-card-title heading2">Rs. 10, 000</h1>
                            <ul class="mt-3 mb-5 text-start text">
                                <li>One Promotional Poster</li>
                                <li>One Ad Video (15-30 secs)</li>
                                <li>Logo Design</li>
                                <li>1 Revision</li>
                            </ul>
                            <p>Designed to help start-ups get a good jump start into the corporate world</p>
                            <a type="button" class="w-100 btn btn-lg btn-primary">Contact us</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="pricing-card card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 heading2"><h4 class="my-0 fw-normal">Growth</h4></div>
                        <div class="card-body"><h1 class="card-title pricing-card-title heading2">Rs. 25, 000</h1>
                            <ul class="mt-3 mb-4 text-start text">
                                <li>Three Promotional Posts</li>
                                <li>One Ad video</li>
                                <li>Social Media Story Design</li>
                                <li>Business Website</li>
                                <li>2 revisions</li>
                            </ul>
                            <p>Designed to help businesses build their online presence</p>
                            <a type="button" class="w-100 btn btn-lg btn-primary">Contact us</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="pricing-card card mb-4 rounded-3 shadow-sm border-warning">
                        <div class="card-header py-3 text-bg-warning border-warning">
                            <h4 class="my-0 fw-normal heading2">Premium</h4></div>
                        <div class="card-body"><h1 class="card-title pricing-card-title heading2">Rs. 35, 000</h1>
                            <ul class="text-start mt-3 mb-4 text">
                                <li>Three Promotional Posters</li>
                                <li>Two Professional Ad Videos</li>
                                <li>Automated Client Communication System</li>
                                <li>Business Website</li>
                                <li>4 Revisions</li>
                            </ul>
                            <p>Designed to bring social media attention to the next level</p>
                            <a type="button" class="w-100 btn btn-lg btn-warning">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>